USE [KN_online]
GO
/****** Object:  Table [dbo].[EVENT_TRIGGER]    Script Date: 09/09/2016 04:14:36 ******/
DROP TABLE [dbo].[EVENT_TRIGGER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT_TRIGGER](
	[nIndex] [int] NOT NULL,
	[bNpcType] [tinyint] NOT NULL,
	[sNpcID] [smallint] NOT NULL,
	[nTriggerNum] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[EVENT_TRIGGER] ([nIndex], [bNpcType], [sNpcID], [nTriggerNum]) VALUES (1, 28, 1, 40001)
INSERT [dbo].[EVENT_TRIGGER] ([nIndex], [bNpcType], [sNpcID], [nTriggerNum]) VALUES (2, 28, 2, 40101)
INSERT [dbo].[EVENT_TRIGGER] ([nIndex], [bNpcType], [sNpcID], [nTriggerNum]) VALUES (3, 28, 3, 40201)
