USE [KN_online]
GO
/****** Object:  Table [dbo].[K_NPC_MOVE_ITEM]    Script Date: 09/09/2016 04:14:39 ******/
DROP TABLE [dbo].[K_NPC_MOVE_ITEM]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_NPC_MOVE_ITEM](
	[sCastleIndex] [smallint] NOT NULL,
	[byChangeItem] [int] NULL,
	[sChangeSid] [int] NULL,
	[byMoveItem] [int] NULL,
	[sMoveMinX] [smallint] NULL,
	[sMoveMinY] [smallint] NULL,
	[sMoveMaxX] [smallint] NULL,
	[sMoveMaxY] [smallint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[K_NPC_MOVE_ITEM] ([sCastleIndex], [byChangeItem], [sChangeSid], [byMoveItem], [sMoveMinX], [sMoveMinY], [sMoveMaxX], [sMoveMaxY]) VALUES (13405, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[K_NPC_MOVE_ITEM] ([sCastleIndex], [byChangeItem], [sChangeSid], [byMoveItem], [sMoveMinX], [sMoveMinY], [sMoveMaxX], [sMoveMaxY]) VALUES (13406, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[K_NPC_MOVE_ITEM] ([sCastleIndex], [byChangeItem], [sChangeSid], [byMoveItem], [sMoveMinX], [sMoveMinY], [sMoveMaxX], [sMoveMaxY]) VALUES (21010, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
