USE [KN_online]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_PREMIUM_SERVICE_USER]    Script Date: 09/09/2016 04:14:57 ******/
DROP PROCEDURE [dbo].[UPDATE_PREMIUM_SERVICE_USER]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_PREMIUM_SERVICE_USER]
	@AccountID varchar(21),
	@Days smallint
AS
RETURN 0
GO
