USE [KN_online]
GO
/****** Object:  Table [dbo].[KING_CANDIDACY_NOTICE_BOARD]    Script Date: 09/09/2016 04:14:40 ******/
DROP TABLE [dbo].[KING_CANDIDACY_NOTICE_BOARD]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KING_CANDIDACY_NOTICE_BOARD](
	[strUserID] [varchar](21) NOT NULL,
	[byNation] [tinyint] NOT NULL,
	[sNoticeLen] [smallint] NOT NULL,
	[strNotice] [varbinary](1024) NOT NULL,
 CONSTRAINT [PK_KING_CANDIDACY_NOTICE_BOARD] PRIMARY KEY CLUSTERED 
(
	[strUserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
