USE [KN_online]
GO
/****** Object:  StoredProcedure [dbo].[CHANGE_COPY_SERIAL_ITEM]    Script Date: 09/09/2016 04:14:56 ******/
DROP PROCEDURE [dbo].[CHANGE_COPY_SERIAL_ITEM]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Stored Procedure dbo.CHANGE_COPY_SERIAL_ITEM    Script Date: 6/6/2006 6:03:34 PM ******/
CREATE PROCEDURE [dbo].[CHANGE_COPY_SERIAL_ITEM]
AS
EXEC CHANGE_COPY_SERIAL_ITEM_TABLE
EXEC CHANGE_COPY_SERIAL_ITEM_DATA
GO
