USE [KN_online]
GO
/****** Object:  Table [dbo].[KNIGHTS]    Script Date: 09/09/2016 04:14:41 ******/
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_Flag]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_Ranking]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_Members]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_byOldWarResult]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_nWarEnemyID]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_nVictory]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_nLose]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_Gold]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_Domination]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_Points]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_CreateTime]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_sMarkVersion]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_sMarkLen]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_bySiegeFlag]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_sAllianceKnights]
GO
ALTER TABLE [dbo].[KNIGHTS] DROP CONSTRAINT [DF_KNIGHTS_sCape_1]
GO
DROP TABLE [dbo].[KNIGHTS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KNIGHTS](
	[IDNum] [smallint] NOT NULL,
	[Flag] [tinyint] NOT NULL CONSTRAINT [DF_KNIGHTS_Flag]  DEFAULT ((1)),
	[Nation] [tinyint] NOT NULL,
	[Ranking] [tinyint] NOT NULL CONSTRAINT [DF_KNIGHTS_Ranking]  DEFAULT ((0)),
	[IDName] [varchar](21) NOT NULL,
	[Members] [smallint] NOT NULL CONSTRAINT [DF_KNIGHTS_Members]  DEFAULT ((1)),
	[Chief] [varchar](21) NOT NULL,
	[ViceChief_1] [varchar](21) NULL,
	[ViceChief_2] [varchar](21) NULL,
	[ViceChief_3] [varchar](21) NULL,
	[strEnemyName] [varchar](21) NULL,
	[byOldWarResult] [tinyint] NOT NULL CONSTRAINT [DF_KNIGHTS_byOldWarResult]  DEFAULT ((0)),
	[nWarEnemyID] [int] NOT NULL CONSTRAINT [DF_KNIGHTS_nWarEnemyID]  DEFAULT ((0)),
	[nVictory] [int] NOT NULL CONSTRAINT [DF_KNIGHTS_nVictory]  DEFAULT ((0)),
	[nLose] [int] NOT NULL CONSTRAINT [DF_KNIGHTS_nLose]  DEFAULT ((0)),
	[Gold] [bigint] NOT NULL CONSTRAINT [DF_KNIGHTS_Gold]  DEFAULT ((0)),
	[Domination] [smallint] NOT NULL CONSTRAINT [DF_KNIGHTS_Domination]  DEFAULT ((0)),
	[Points] [int] NULL CONSTRAINT [DF_KNIGHTS_Points]  DEFAULT ((0)),
	[CreateTime] [smalldatetime] NOT NULL CONSTRAINT [DF_KNIGHTS_CreateTime]  DEFAULT (getdate()),
	[sMarkVersion] [smallint] NOT NULL CONSTRAINT [DF_KNIGHTS_sMarkVersion]  DEFAULT ((0)),
	[sMarkLen] [smallint] NOT NULL CONSTRAINT [DF_KNIGHTS_sMarkLen]  DEFAULT ((0)),
	[Mark] [image] NULL,
	[Stash] [varchar](1600) NULL,
	[bySiegeFlag] [tinyint] NOT NULL CONSTRAINT [DF_KNIGHTS_bySiegeFlag]  DEFAULT ((0)),
	[sAllianceKnights] [smallint] NOT NULL CONSTRAINT [DF_KNIGHTS_sAllianceKnights]  DEFAULT ((0)),
	[sCape] [smallint] NOT NULL CONSTRAINT [DF_KNIGHTS_sCape_1]  DEFAULT ((-1)),
 CONSTRAINT [PK_KNIGHTS] PRIMARY KEY CLUSTERED 
(
	[IDNum] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [IX_KNIGHTS] UNIQUE NONCLUSTERED 
(
	[IDName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KNIGHTS] ([IDNum], [Flag], [Nation], [Ranking], [IDName], [Members], [Chief], [ViceChief_1], [ViceChief_2], [ViceChief_3], [strEnemyName], [byOldWarResult], [nWarEnemyID], [nVictory], [nLose], [Gold], [Domination], [Points], [CreateTime], [sMarkVersion], [sMarkLen], [Mark], [Stash], [bySiegeFlag], [sAllianceKnights], [sCape]) VALUES (15002, 7, 2, 0, N'OP                   ', 1, N'testHideSpell        ', NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 10000000, CAST(0xA6770289 AS SmallDateTime), 0, 0, NULL, NULL, 0, 0, -1)
INSERT [dbo].[KNIGHTS] ([IDNum], [Flag], [Nation], [Ranking], [IDName], [Members], [Chief], [ViceChief_1], [ViceChief_2], [ViceChief_3], [strEnemyName], [byOldWarResult], [nWarEnemyID], [nVictory], [nLose], [Gold], [Domination], [Points], [CreateTime], [sMarkVersion], [sMarkLen], [Mark], [Stash], [bySiegeFlag], [sAllianceKnights], [sCape]) VALUES (15003, 1, 2, 0, N'TEST                 ', 1, N'Testing123           ', NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 0, CAST(0xA67B0556 AS SmallDateTime), 0, 0, NULL, NULL, 0, 0, -1)
