USE [KN_online]
GO
/****** Object:  StoredProcedure [dbo].[CLEAR_REMAIN_USERS]    Script Date: 09/09/2016 04:14:56 ******/
DROP PROCEDURE [dbo].[CLEAR_REMAIN_USERS]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[CLEAR_REMAIN_USERS] 
@strServerIP varchar(15)
 AS
DELETE  FROM  CURRENTUSER WHERE strServerIP = @strServerIP
GO
