USE [KN_online]
GO
/****** Object:  Table [dbo].[WAREHOUSE]    Script Date: 09/09/2016 04:14:50 ******/
ALTER TABLE [dbo].[WAREHOUSE] DROP CONSTRAINT [DF_WAREHOUSE_nMoney]
GO
ALTER TABLE [dbo].[WAREHOUSE] DROP CONSTRAINT [DF_WAREHOUSE_dwTime]
GO
DROP TABLE [dbo].[WAREHOUSE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WAREHOUSE](
	[strAccountID] [char](21) NOT NULL,
	[nMoney] [int] NOT NULL CONSTRAINT [DF_WAREHOUSE_nMoney]  DEFAULT (0),
	[dwTime] [int] NOT NULL CONSTRAINT [DF_WAREHOUSE_dwTime]  DEFAULT (0),
	[WarehouseData] [varchar](1600) NULL,
	[strSerial] [varchar](1600) NULL,
 CONSTRAINT [PK_WAREHOUSE] PRIMARY KEY CLUSTERED 
(
	[strAccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
