USE [KN_online]
GO
/****** Object:  Table [dbo].[K_NPC_ITEM]    Script Date: 09/09/2016 04:14:39 ******/
DROP TABLE [dbo].[K_NPC_ITEM]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_NPC_ITEM](
	[sIndex] [smallint] NOT NULL,
	[iItem01] [int] NOT NULL,
	[sPersent01] [smallint] NULL,
	[iItem02] [int] NULL,
	[sPersent02] [smallint] NULL,
	[iItem03] [int] NULL,
	[sPersent03] [smallint] NULL,
	[iItem04] [int] NULL,
	[sPersent04] [smallint] NULL,
	[iItem05] [int] NULL,
	[sPersent05] [smallint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[K_NPC_ITEM] ([sIndex], [iItem01], [sPersent01], [iItem02], [sPersent02], [iItem03], [sPersent03], [iItem04], [sPersent04], [iItem05], [sPersent05]) VALUES (13405, 6, 8000, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[K_NPC_ITEM] ([sIndex], [iItem01], [sPersent01], [iItem02], [sPersent02], [iItem03], [sPersent03], [iItem04], [sPersent04], [iItem05], [sPersent05]) VALUES (13406, 6, 8000, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[K_NPC_ITEM] ([sIndex], [iItem01], [sPersent01], [iItem02], [sPersent02], [iItem03], [sPersent03], [iItem04], [sPersent04], [iItem05], [sPersent05]) VALUES (21010, 3, 1000, 0, 0, 0, 0, 0, 0, 0, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
