USE [KN_online]
GO
/****** Object:  Table [dbo].[LEVEL_UP]    Script Date: 09/09/2016 04:14:42 ******/
DROP TABLE [dbo].[LEVEL_UP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEVEL_UP](
	[level] [tinyint] NOT NULL,
	[Exp] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LEVEL_UP] ([level], [Exp]) VALUES (1, 50)
INSERT [dbo].[LEVEL_UP] ([level], [Exp]) VALUES (2, 100)
INSERT [dbo].[LEVEL_UP] ([level], [Exp]) VALUES (3, 190)
