USE [KN_online]
GO
/****** Object:  Table [dbo].[USER_PERSONAL_RANK]    Script Date: 09/09/2016 04:14:48 ******/
ALTER TABLE [dbo].[USER_PERSONAL_RANK] DROP CONSTRAINT [DF_USER_PERSONAL_RANK_nElmoCheck]
GO
ALTER TABLE [dbo].[USER_PERSONAL_RANK] DROP CONSTRAINT [DF_USER_PERSONAL_RANK_nKarusCheck]
GO
DROP TABLE [dbo].[USER_PERSONAL_RANK]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_PERSONAL_RANK](
	[nRank] [smallint] NOT NULL,
	[strPosition] [char](21) NOT NULL,
	[nElmoUP] [smallint] NOT NULL,
	[strElmoUserID] [char](21) NULL,
	[nElmoLoyaltyMonthly] [int] NULL,
	[nElmoCheck] [int] NOT NULL CONSTRAINT [DF_USER_PERSONAL_RANK_nElmoCheck]  DEFAULT (0),
	[nKarusUP] [smallint] NOT NULL,
	[strKarusUserID] [char](21) NULL,
	[nKarusLoyaltyMonthly] [int] NULL,
	[nKarusCheck] [int] NOT NULL CONSTRAINT [DF_USER_PERSONAL_RANK_nKarusCheck]  DEFAULT (0),
	[nSalary] [int] NOT NULL,
	[UpdateDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_USER_PERSONAL_RANK] PRIMARY KEY CLUSTERED 
(
	[nRank] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USER_PERSONAL_RANK] ([nRank], [strPosition], [nElmoUP], [strElmoUserID], [nElmoLoyaltyMonthly], [nElmoCheck], [nKarusUP], [strKarusUserID], [nKarusLoyaltyMonthly], [nKarusCheck], [nSalary], [UpdateDate]) VALUES (1, N'Gold Knight          ', 0, N'                     ', 0, 0, 0, N'                     ', 0, 0, 0, CAST(0xA67B0215 AS SmallDateTime))
INSERT [dbo].[USER_PERSONAL_RANK] ([nRank], [strPosition], [nElmoUP], [strElmoUserID], [nElmoLoyaltyMonthly], [nElmoCheck], [nKarusUP], [strKarusUserID], [nKarusLoyaltyMonthly], [nKarusCheck], [nSalary], [UpdateDate]) VALUES (2, N'Silver Knight        ', 0, N'                     ', 0, 0, 0, N'                     ', 0, 0, 0, CAST(0xA67B0215 AS SmallDateTime))
INSERT [dbo].[USER_PERSONAL_RANK] ([nRank], [strPosition], [nElmoUP], [strElmoUserID], [nElmoLoyaltyMonthly], [nElmoCheck], [nKarusUP], [strKarusUserID], [nKarusLoyaltyMonthly], [nKarusCheck], [nSalary], [UpdateDate]) VALUES (3, N'Silver Knight        ', 0, N'                     ', 0, 0, 0, N'                     ', 0, 0, 0, CAST(0xA67B0215 AS SmallDateTime))
