USE [KN_online]
GO
/****** Object:  Table [dbo].[ZONE_INFO]    Script Date: 09/09/2016 04:14:51 ******/
DROP TABLE [dbo].[ZONE_INFO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZONE_INFO](
	[ServerNo] [tinyint] NOT NULL,
	[ZoneNo] [smallint] NOT NULL,
	[strZoneName] [varchar](50) NOT NULL,
	[InitX] [int] NOT NULL,
	[InitZ] [int] NOT NULL,
	[InitY] [int] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[RoomEvent] [tinyint] NOT NULL,
	[bz] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ZONE_INFO] ([ServerNo], [ZoneNo], [strZoneName], [InitX], [InitZ], [InitY], [Type], [RoomEvent], [bz]) VALUES (1, 1, N'karus_0730.smd', 163000, 39400, 15000, 1, 0, N'Karus')
INSERT [dbo].[ZONE_INFO] ([ServerNo], [ZoneNo], [strZoneName], [InitX], [InitZ], [InitY], [Type], [RoomEvent], [bz]) VALUES (1, 2, N'elmorad_1220.smd', 1630000, 39400, 15000, 1, 0, N'Elmorad')
INSERT [dbo].[ZONE_INFO] ([ServerNo], [ZoneNo], [strZoneName], [InitX], [InitZ], [InitY], [Type], [RoomEvent], [bz]) VALUES (1, 11, N'k_eslant.smd', 15000, 15000, 15000, 0, 0, N'Karus Eslant')
