USE [KN_online]
GO
/****** Object:  Table [dbo].[K_NPCPOS]    Script Date: 09/09/2016 04:14:40 ******/
DROP TABLE [dbo].[K_NPCPOS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_NPCPOS](
	[ZoneID] [smallint] NULL,
	[NpcID] [int] NULL,
	[ActType] [tinyint] NULL,
	[RegenType] [tinyint] NULL,
	[DungeonFamily] [tinyint] NULL,
	[SpecialType] [tinyint] NULL,
	[TrapNumber] [tinyint] NULL,
	[LeftX] [int] NULL,
	[TopZ] [int] NULL,
	[RightX] [int] NULL,
	[BottomZ] [int] NULL,
	[LimitMinZ] [int] NULL,
	[LimitMinX] [int] NULL,
	[LimitMaxX] [int] NULL,
	[LimitMaxZ] [int] NULL,
	[NumNPC] [tinyint] NULL,
	[RegTime] [smallint] NULL,
	[byDirection] [int] NULL,
	[DotCnt] [tinyint] NULL,
	[path] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[K_NPCPOS] ([ZoneID], [NpcID], [ActType], [RegenType], [DungeonFamily], [SpecialType], [TrapNumber], [LeftX], [TopZ], [RightX], [BottomZ], [LimitMinZ], [LimitMinX], [LimitMaxX], [LimitMaxZ], [NumNPC], [RegTime], [byDirection], [DotCnt], [path]) VALUES (1, 26055, 100, 0, 0, 7, 1, 1735, 834, 1736, 833, 1734, 835, 1736, 833, 1, 1800, 0, 0, NULL)
INSERT [dbo].[K_NPCPOS] ([ZoneID], [NpcID], [ActType], [RegenType], [DungeonFamily], [SpecialType], [TrapNumber], [LeftX], [TopZ], [RightX], [BottomZ], [LimitMinZ], [LimitMinX], [LimitMaxX], [LimitMaxZ], [NumNPC], [RegTime], [byDirection], [DotCnt], [path]) VALUES (1, 26055, 100, 0, 0, 7, 2, 1528, 902, 1529, 901, 1527, 902, 1529, 900, 1, 1800, 0, 0, NULL)
INSERT [dbo].[K_NPCPOS] ([ZoneID], [NpcID], [ActType], [RegenType], [DungeonFamily], [SpecialType], [TrapNumber], [LeftX], [TopZ], [RightX], [BottomZ], [LimitMinZ], [LimitMinX], [LimitMaxX], [LimitMaxZ], [NumNPC], [RegTime], [byDirection], [DotCnt], [path]) VALUES (1, 26055, 100, 0, 0, 7, 4, 307, 1272, 308, 1271, 307, 1273, 309, 1271, 1, 1800, 0, 0, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
