USE [KN_online]
GO
/****** Object:  Table [dbo].[MAKE_DEFENSIVE]    Script Date: 09/09/2016 04:14:44 ******/
DROP TABLE [dbo].[MAKE_DEFENSIVE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAKE_DEFENSIVE](
	[byLevel] [tinyint] NOT NULL,
	[sClass_1] [smallint] NULL,
	[sClass_2] [smallint] NULL,
	[sClass_3] [smallint] NULL,
	[sClass_4] [smallint] NULL,
	[sClass_5] [smallint] NULL,
	[sClass_6] [smallint] NULL,
	[sClass_7] [smallint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[MAKE_DEFENSIVE] ([byLevel], [sClass_1], [sClass_2], [sClass_3], [sClass_4], [sClass_5], [sClass_6], [sClass_7]) VALUES (0, 1000, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[MAKE_DEFENSIVE] ([byLevel], [sClass_1], [sClass_2], [sClass_3], [sClass_4], [sClass_5], [sClass_6], [sClass_7]) VALUES (1, 600, 400, 0, 0, 0, 0, 0)
INSERT [dbo].[MAKE_DEFENSIVE] ([byLevel], [sClass_1], [sClass_2], [sClass_3], [sClass_4], [sClass_5], [sClass_6], [sClass_7]) VALUES (2, 400, 600, 0, 0, 0, 0, 0)
