USE [KN_online]
GO
/****** Object:  Table [dbo].[MAKE_ITEM_GROUP]    Script Date: 09/09/2016 04:14:44 ******/
DROP TABLE [dbo].[MAKE_ITEM_GROUP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAKE_ITEM_GROUP](
	[iItemGroupNum] [int] NOT NULL,
	[iItem_1] [int] NOT NULL,
	[iItem_2] [int] NOT NULL,
	[iItem_3] [int] NOT NULL,
	[iItem_4] [int] NOT NULL,
	[iItem_5] [int] NOT NULL,
	[iItem_6] [int] NOT NULL,
	[iItem_7] [int] NOT NULL,
	[iItem_8] [int] NOT NULL,
	[iItem_9] [int] NOT NULL,
	[iItem_10] [int] NOT NULL,
	[iItem_11] [int] NOT NULL,
	[iItem_12] [int] NOT NULL,
	[iItem_13] [int] NOT NULL,
	[iItem_14] [int] NOT NULL,
	[iItem_15] [int] NOT NULL,
	[iItem_16] [int] NOT NULL,
	[iItem_17] [int] NOT NULL,
	[iItem_18] [int] NOT NULL,
	[iItem_19] [int] NOT NULL,
	[iItem_20] [int] NOT NULL,
	[iItem_21] [int] NOT NULL,
	[iItem_22] [int] NOT NULL,
	[iItem_23] [int] NOT NULL,
	[iItem_24] [int] NOT NULL,
	[iItem_25] [int] NOT NULL,
	[iItem_26] [int] NOT NULL,
	[iItem_27] [int] NOT NULL,
	[iItem_28] [int] NOT NULL,
	[iItem_29] [int] NOT NULL,
	[iItem_30] [int] NOT NULL
) ON [PRIMARY]
GO
