USE [KN_online]
GO
/****** Object:  Table [dbo].[USER_KNIGHTS_RANK]    Script Date: 09/09/2016 04:14:48 ******/
DROP TABLE [dbo].[USER_KNIGHTS_RANK]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_KNIGHTS_RANK](
	[shIndex] [smallint] NOT NULL,
	[strName] [char](21) NOT NULL,
	[strElmoUserID] [varchar](21) NULL,
	[strElmoKnightsName] [varchar](21) NULL,
	[nElmoLoyalty] [int] NULL,
	[strKarusUserID] [varchar](21) NULL,
	[strKarusKnightsName] [varchar](21) NULL,
	[nKarusLoyalty] [int] NULL,
	[nMoney] [int] NOT NULL,
 CONSTRAINT [PK_USER_KNIGHTS_RANK] PRIMARY KEY CLUSTERED 
(
	[shIndex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USER_KNIGHTS_RANK] ([shIndex], [strName], [strElmoUserID], [strElmoKnightsName], [nElmoLoyalty], [strKarusUserID], [strKarusKnightsName], [nKarusLoyalty], [nMoney]) VALUES (1, N'Gold Knight          ', N'test                 ', N'test                 ', 50000000, NULL, NULL, 0, 1000000)
INSERT [dbo].[USER_KNIGHTS_RANK] ([shIndex], [strName], [strElmoUserID], [strElmoKnightsName], [nElmoLoyalty], [strKarusUserID], [strKarusKnightsName], [nKarusLoyalty], [nMoney]) VALUES (2, N'Silver Knight        ', NULL, NULL, 0, NULL, NULL, 0, 700000)
INSERT [dbo].[USER_KNIGHTS_RANK] ([shIndex], [strName], [strElmoUserID], [strElmoKnightsName], [nElmoLoyalty], [strKarusUserID], [strKarusKnightsName], [nKarusLoyalty], [nMoney]) VALUES (3, N'Silver Knight        ', NULL, NULL, 0, NULL, NULL, 0, 700000)
